.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    padding: 20px;
    gap: 300px;
  }
  
  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
    }
  }
  
  .contact-image {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .contact-image {
      width: 50%;
      margin-right: 40px;
    }
  }
  
  .contact-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #2e3b4e;
    border: 2px solid #1d2737;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition:  0.3s ease;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #1d2737; /* Darker shade on hover */
    border-color: #2e3b4e;
  }
  